{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


    {% if cursos %}

        <p>Se está buscando la camada N°: {{camada}}</p>
        <p>Los datos de la camada solicitada son los siguientes: </p>


        <ul>

            {% for curso in cursos %}

                <li>Nombre: {{curso.nombre}}</li>
                <li>Camada: {{curso.camada}}</li>

            {% endfor %}
        
        </ul>

    {% else %}
    <p>No hay datos registrados que coincidan con los ingresados. </p>
    {% endif %}
    
    <p style="color: red;">{{respuesta}}</p>



{% endblock %}

